html {
    height: 100%;
}
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100%;
}

#outerBox {
    background-color: #dce944;
    margin-top: 1%;
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, #010428, #071c50, #035285, #0086a2, #007a80, #50dcd1, #75bf87, #93dc9d,
    #99bb41, #d5f0b8, #dce944, #dfc906, #c8b700, #cd8800, #cd5a01, #af1a03, #a24301, #b86700) 1;
    min-height: 85%;
}

#gameName {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 60px;
    font-weight: bold;
    color: #071c50;
    text-shadow: 2px 2px grey;
}

#timeRemaining {
    font-size: 38px;
    font-weight: bold;
    color: #af1a03;
}

#timer {
    border: 3px solid #0086a2;
    background-color: #629819;
    font-size: 55px;
    font-weight: bolder;
    border-radius: 50%;
    min-width: 40px;
    max-width: 120px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: grey 2px 2px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
}

#answerBox {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 1%;
}

#questionText {
    padding-top: 1%;
    padding-bottom: 1%;
}

.answers {
    border: 2px #af1a03 solid;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    border-radius: 30px;
    font-size: 24px;
    background-color: #cd8800;
    cursor: pointer;
}

.answers:last-child {
    margin-bottom: 5%;
}

.answers:hover {
    background-color: #cd5a01;
    box-shadow: 2px 2px grey;
    color: white;
}

#questionBox {
    border: 3px solid #af1a03;
    font-size: 26px;
    background-color: #c8b700;
    margin-right: 15%;
    margin-left: 15%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: grey 2px 2px;

}

#timer.startAgain {
    font-size: 46px;
}

#timer.startAgain:hover {
    background-color: #225730;
    box-shadow: 3px 3px slategrey;
    cursor: pointer;
    color: antiquewhite;
}

.gifs {
    height: 270px;
    width: 270px;
    border-radius: 20px;
    border: 3px solid #0086a2;
    box-shadow: grey 2px 2px;
}

#correctGIF {
    margin-bottom: 10px;
}